*{
    margin: 0px;
}
.class{
    border: 1px #ccc solid;
    width: 620px;
    height: 570px;
}
.h11{
    margin-top: 30px;
    padding-left: 16px;
    margin-bottom: 15px;
}
.h12{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px #ccc solid;
    background-color: black;
    color: white;
}
.h31{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
}
.h10{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.h32{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(209, 209, 209);
}
.box{
    border-bottom: 1px #ccc solid;
}
.h33{
    text-align: center;
    padding: 15px;
    border:none;
    width: 70px;
    height: 22px;
    background-color: #4CAF50;
    color: white;
}
.h33:hover{
    background-color: #d4d1d1 ;
    color:black ;
}
.box2{
    padding-top: 20px;
    padding-left: 250px;
}
.all{
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.h15{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px #ccc solid;
    background-color: #4CAF50;
    color: white;
}